apiVersion: apps/v1
kind: Deployment
metadata:
  name: liveness-sigterm-test
  labels:
    app: liveness-sigterm-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: liveness-sigterm-test
  template:
    metadata:
      labels:
        app: liveness-sigterm-test
    spec:
      containers:
      - name: liveness-sigterm-test
        image: alicek106/sigterm-test
        imagePullPolicy: Always
        livenessProbe:
          exec:
            command:
            - cat
            - /file
          initialDelaySeconds: 5
          periodSeconds: 5
